[submodule "src/tabixpp"]
	path = src/tabixpp
	url = https://github.com/ekg/tabixpp.git
        ignore = dirty
[submodule "src/vcfPhasedBreakMulti"]
	path = src/vcfPhasedBreakMulti
	url = https://github.com/wkretzsch/vcfPhasedBreakMulti.git
