[submodule "src/vcfPhasedBreakMulti"]
	path = src/vcfPhasedBreakMulti
	url = https://github.com/winni2k/vcfPhasedBreakMulti.git
[submodule "src/htslibpp"]
	path = src/htslibpp
	url = https://github.com/winni2k/htslibpp.git
	branch = master
