sample population group sex
samp1 CEU EUR 1
samp2 CEU EUR 1
samp3 CEU EUR 1
samp4 CEU EUR 1
samp5 CEU EUR 1
samp6 CEU EUR 1
samp7 CEU EUR 1
samp8 CEU EUR 1
samp9 CEU EUR 1
samp10 CEU EUR 1
samp11 CEU EUR 1
samp12 CEU EUR 1
samp13 CEU EUR 1
samp14 CEU EUR 1
samp15 CEU EUR 1
samp16 CEU EUR 1
samp17 CEU EUR 1
samp18 CEU EUR 1
samp19 CEU EUR 1
samp20 CEU EUR 1
samp21 CEU EUR 1
samp22 CEU EUR 1
samp23 CEU EUR 1
samp24 CEU EUR 1
samp25 CEU EUR 1
samp26 CEU EUR 1
samp27 CEU EUR 1
samp28 CEU EUR 1
samp29 CEU EUR 1
samp30 CEU EUR 1
samp31 CEU EUR 1
samp32 CEU EUR 1
samp33 CEU EUR 1
samp34 CEU EUR 1
samp35 CEU EUR 1
samp36 CEU EUR 1
samp37 CEU EUR 1
samp38 CEU EUR 1
samp39 CEU EUR 1
samp40 CEU EUR 1
samp41 CEU EUR 1
samp42 CEU EUR 1
samp43 CEU EUR 1
samp44 CEU EUR 1
samp45 CEU EUR 1
samp46 CEU EUR 1
samp47 CEU EUR 1
samp48 CEU EUR 1
samp49 CEU EUR 1
samp50 CEU EUR 1
samp51 CEU EUR 1
samp52 CEU EUR 1
samp53 CEU EUR 1
samp54 CEU EUR 1
samp55 CEU EUR 1
samp56 CEU EUR 1
samp57 CEU EUR 1
samp58 CEU EUR 1
samp59 CEU EUR 1
samp60 CEU EUR 1
